/* Zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* End zeroing */
.object__svg {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #BDBDBD #F6FAFF;
}
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: #F6FAFF;
}
body::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 10px;
  border: 3px solid #F6FAFF;
}

.container {
  width: 80%;
  max-width: 1046px;
  min-height: inherit;
  margin: 0 auto;
  padding: 120px 0;
}

.container_column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_double-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  line-height: 1.4;
  height: 100%;
}
.text-block .decor-line {
  background-color: #E74040;
  width: 70px;
  height: 5px;
}
.text-block .subtitle {
  color: #96BB7C;
  font-weight: 800;
}
.text-block .title h2 {
  color: #252B42;
  font-size: 35px;
  font-weight: 800;
}
.text-block .text {
  color: #737373;
}
.text-block .buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.text-block .buttons a {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  color: #96BB7C;
  font-weight: 800;
  transition: background-color 1s ease 0s, border 1s ease 0s, color 1s ease 0s;
}
.text-block .buttons a::before, .text-block .buttons a::after {
  content: "";
  position: absolute;
  right: -10px;
  background-color: #96BB7C;
  width: 13px;
  height: 2px;
  transform-origin: left;
  transition: background-color 1s ease 0s;
}
.text-block .buttons a::before {
  top: 0;
  transform: rotate(45deg);
}
.text-block .buttons a::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.text-block .buttons a:hover {
  color: #a4d87f;
}
.text-block .buttons a:hover::before, .text-block .buttons a:hover::after {
  background-color: #a4d87f;
}
.text-block .buttons a:active {
  color: #82b360;
}
.text-block .buttons a:active::before, .text-block .buttons a:active::after {
  background-color: #82b360;
}

div[data-vp-container] {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 245px;
}
div[data-vp-container] .video__container video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
div[data-vp-container] .video__control-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 20px 20px;
  opacity: 1;
  padding: 0 10px;
  transition: opacity 1s ease 0s;
}
div[data-vp-container] .video__control-container:hover {
  opacity: 1 !important;
}
div[data-vp-container] .translucion-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 1;
  background: linear-gradient(0deg, rgba(56, 56, 56, 0.86) 0%, rgba(0, 0, 0, 0) 100%);
  transition: height 1s ease 0s, opacity 1s ease 0s;
}
div[data-vp-container] .control__play {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
}
div[data-vp-container] .playback__container {
  position: relative;
  width: 35px;
  height: 100%;
}
div[data-vp-container] .playback__container .icon_pause {
  display: none;
}
div[data-vp-container] .playback__container .icon_play {
  display: block;
}
div[data-vp-container] .playback__container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
div[data-vp-container] .volume__container {
  position: relative;
  width: 35px;
  height: 100%;
}
div[data-vp-container] .volume__container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #fff;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
div[data-vp-container] .volume__container .volume_off,
div[data-vp-container] .volume__container .volume_mute,
div[data-vp-container] .volume__container .volume_down,
div[data-vp-container] .volume__container .volume_up {
  display: none;
}
div[data-vp-container] .volume__container[data-vp-volume=up] .volume_up {
  display: block;
}
div[data-vp-container] .volume__container[data-vp-volume=down] .volume_down {
  display: block;
}
div[data-vp-container] .volume__container[data-vp-volume=mute] .volume_mute {
  display: block;
}
div[data-vp-container] .volume__container[data-vp-volume=off] .volume_off {
  display: block;
}
div[data-vp-container] .volume__container:hover .volume__lines-container {
  opacity: 1;
}
div[data-vp-container] .volume__lines-container {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  min-width: 26px;
  height: 60px;
  background-color: rgba(44, 44, 44, 0.5);
  padding: 6px 8px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s ease 0s;
}
div[data-vp-container] .volume__lines-wrapper {
  position: relative;
  width: 5px;
  height: 100%;
}
div[data-vp-container] .volume__line {
  width: 5px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
div[data-vp-container] .volume__line_full {
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
}
div[data-vp-container] .volume__line_currect {
  height: 0;
  background-color: #fff;
}
div[data-vp-container].play .translucion-background {
  height: 0%;
  opacity: 0;
}
div[data-vp-container].play .playback__container .icon_pause {
  display: block;
}
div[data-vp-container].play .playback__container .icon_play {
  display: none;
}
div[data-vp-container].play.hidden-interface .video__control-container {
  opacity: 0;
}
div[data-vp-container] .control__lines {
  position: relative;
  flex: 1 0 auto;
  height: 50%;
  margin: 0 3%;
  cursor: pointer;
}
div[data-vp-container] .control__lines .line {
  pointer-events: none;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 5px;
}
div[data-vp-container] .control__lines:hover .line_hover,
div[data-vp-container] .control__lines:hover .control__hint {
  opacity: 1;
}
div[data-vp-container] .control__hint {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: -25px;
  left: 0;
  display: inline-block;
  background-color: rgba(44, 44, 44, 0.5);
  color: #fff;
  padding: 6px 8px;
  border-radius: 20px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 1s ease 0s;
}
div[data-vp-container] .line_full {
  width: 100%;
  background-color: rgba(80, 80, 80, 0.8);
}
div[data-vp-container] .line_hover {
  width: 0%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.5s ease 0s;
}
div[data-vp-container] .line_current {
  width: 0%;
  background-color: #fff;
  transition: width 0.2s ease 0s;
  z-index: 5;
}
div[data-vp-container] .control__duration {
  color: #fff;
  min-width: 100px;
  text-align: center;
}
div[data-vp-container] .control__full {
  position: relative;
  width: 35px;
  height: 100%;
}
div[data-vp-container] .control__full svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #fff;
  fill: #fff;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
div[data-vp-container] .control__full .full__enter {
  display: block;
}
div[data-vp-container] .control__full .full__exit {
  display: none;
}
div[data-vp-container].fullscreen .control__full .full__enter {
  display: none;
}
div[data-vp-container].fullscreen .control__full .full__exit {
  display: block;
}
div[data-vp-container] svg {
  cursor: pointer;
}

/* header style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  transition: height 1s ease 0.3s, transform 1s ease 0s, background 0.5s ease 0s;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #F6FAFF;
  width: 49%;
  height: 100%;
  transition: width 1s ease 0s;
}

.header__bg_grey,
.header[data-burger-parent-active] {
  background-color: #F6FAFF;
}
.header__bg_grey::after,
.header[data-burger-parent-active]::after {
  width: 100% !important;
}

.header__hidden {
  transform: translate(0, -100%);
}

.header__container {
  padding: 20px 0;
  display: grid;
  grid-template-columns: auto auto 49%;
  grid-template-areas: "logo nav buttons";
  gap: 40px;
  align-items: center;
}

.header__logo {
  font-size: 18px;
  font-weight: 700;
  grid-area: logo;
}
.header__logo a {
  color: #000;
}

.header__nav {
  grid-area: nav;
  transition: left 1s ease 0.1s, visibility 1s ease 0s;
}
.header__nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.header__nav li {
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.header__nav a {
  color: #000;
  position: relative;
  display: inline-block;
}
.header__nav a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  background-color: #000;
  width: 0px;
  height: 2px;
  transform: translate(-50%, 0);
  transition: width 0.5s ease 0s;
}
.header__nav a:hover::before {
  width: 20px;
}
.header__nav a.active::before {
  width: 30px;
}

.header__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  transition: left 1s ease 0s, visibility 1s ease 0s;
}
.header__buttons a {
  color: #96BB7C;
  font-weight: 500;
  font-size: 13px;
  transition: background-color 1s ease 0s, border 1s ease 0s, color 1s ease 0s;
}
.header__buttons a:not(.join):hover {
  color: #a4d87f;
}
.header__buttons a:not(.join):active {
  color: #82b360;
}
.header__buttons .join {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #96BB7C;
  border: 1px solid #a4d87f;
  border-radius: 5px;
  padding: 13px 30px;
  text-transform: uppercase;
  color: #fff;
}
.header__buttons .join:hover {
  background-color: #a4d87f;
  border: 1px solid #a4d87f;
}
.header__buttons .join:active {
  background-color: #82b360;
  border: 1px solid #82b360;
}
.header__buttons .join span {
  font-size: 20px;
}

.header__burger {
  display: none;
  position: relative;
  cursor: pointer;
  grid-area: burger;
  width: 22px;
  height: 16px;
}
.header__burger::before, .header__burger::after,
.header__burger span {
  width: inherit;
  height: 2px;
  position: absolute;
  right: 0;
  background-color: #000;
}
.header__burger::before, .header__burger::after {
  content: "";
  transition: width 0.5s ease 0.5s, transform 0.5s ease 0s;
  transform-origin: right;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  top: 50%;
  transform: translate(0, -50%);
  transition: opacity 0.5s ease 0s, width 0.5s ease 0.5s;
}

.header__burger.active::before, .header__burger.active::after,
.header__burger.active span {
  width: 20px;
}
.header__burger.active::before, .header__burger.active::after {
  transition: width 0.5s ease 0s, transform 0.5s ease 0.5s;
}
.header__burger.active::before {
  transform: rotate(-45deg);
}
.header__burger.active::after {
  transform: rotate(45deg);
}
.header__burger.active span {
  opacity: 0;
  transition: opacity 0.5s ease 0.5s, width 0.5s ease 0s;
}

.header[data-burger-parent-active] {
  height: 100%;
  transition: height 1s ease 0s, background 0.5s ease 0s;
}
.header[data-burger-parent-active]::after {
  width: 100% !important;
}
.header[data-burger-parent-active] .header__nav,
.header[data-burger-parent-active] .header__buttons {
  left: 0%;
  visibility: visible;
}
.header[data-burger-parent-active] .header__nav {
  transition: left 1s ease 0s, visibility 1s ease 0s;
}
.header[data-burger-parent-active] .header__buttons {
  transition: left 1s ease 0.2s, visibility 1s ease 0s;
}

@media (max-width: 1097px) {
  .header__container {
    grid-template-rows: auto auto;
    grid-template-columns: auto 49%;
    grid-template-areas: "logo buttons" "nav buttons";
    gap: 20px;
  }
  .header__buttons {
    grid-row: span 2;
  }
  .header__nav ul {
    justify-content: flex-start;
  }
}
@media (max-width: 700px) {
  .header::after {
    width: 92%;
  }
}
@media (max-width: 680px) {
  .header {
    height: 90px;
    overflow-y: auto;
  }
  .header__container {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto min-content;
    grid-template-areas: "logo buttons burger" "nav nav nav";
    gap: 50px 20px;
  }
  .header__buttons {
    grid-row: 1;
  }
  .header__nav {
    position: relative;
    left: -150%;
    visibility: hidden;
  }
  .header__nav ul {
    flex-direction: column;
  }
  .header__nav a.active::before {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 575px) {
  .header {
    height: 60px;
  }
  .header__container {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto min-content;
    grid-template-areas: "logo burger" "nav nav" "buttons buttons";
  }
  .header__buttons {
    grid-row: auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: -150%;
    visibility: hidden;
  }
}
/* end header style */
/* front style */
.front {
  min-height: 100vh;
  position: relative;
}
.front .container {
  padding: 100px 0 80px;
}

.front__text-block {
  max-width: 470px;
  position: relative;
  z-index: 3;
}

.front__subtitle {
  font-size: 14px;
}

.front__title h1 {
  color: #252B42;
  font-size: 42px;
  font-weight: 800;
  text-transform: uppercase;
}

.front__text {
  width: 65%;
  font-size: 16px;
}

.front__buttons a {
  border: 1px solid #96BB7C;
  border-radius: 5px;
  padding: 13px 30px !important;
  font-size: 12px;
}
.front__buttons a::before, .front__buttons a::after {
  display: none;
}
.front__buttons a:first-child {
  background-color: #96BB7C;
  color: #fff;
}
.front__buttons a:first-child:hover {
  background-color: #a4d87f;
  border: 1px solid #a4d87f;
}
.front__buttons a:first-child:active {
  background-color: #82b360;
  border: 1px solid #82b360;
}
.front__buttons a:hover {
  background-color: #a4d87f;
  border: 1px solid #a4d87f;
  color: #fff !important;
}
.front__buttons a:active {
  background-color: #82b360;
  border: 1px solid #82b360;
}

.front__decor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.front__decor .decor__bg_1,
.front__decor .decor__bg_2 {
  position: absolute;
  top: 0;
  transition: width 1s ease 0s;
}
.front__decor .decor__bg_1 {
  background-color: #EFF8ED;
  border-radius: 0 70px 70px 0;
  left: 0;
  width: 81%;
  height: 95%;
  z-index: 0;
}
.front__decor .decor__bg_2 {
  background-color: #F6FAFF;
  border-radius: 0 0 0 70px;
  right: 0;
  width: 49%;
  height: 72%;
  z-index: 1;
}
.front__decor .container {
  position: relative;
  height: 100%;
}
.front__decor .decor__image-container {
  position: absolute;
  bottom: 0;
  right: -5%;
  z-index: 1;
  width: 55%;
  height: 85%;
  min-width: 532px;
  max-width: 575px;
  max-height: 588px;
}
.front__decor .decor__image-container .decor__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.front__decor .decor__image-container .decor__item {
  position: absolute;
}
.front__decor .decor__image-container .decor__item_1 {
  top: 15%;
  left: 0;
  width: 100%;
  height: 75%;
  object-fit: contain;
}
.front__decor .decor__image-container .decor__item_2 {
  top: 23%;
  left: 7%;
  width: 26%;
  height: 33%;
}
.front__decor .decor__image-container .decor__item_3 {
  top: 6%;
  left: 54%;
  width: 17%;
  height: 17%;
}
.front__decor .decor__image-container .decor__item_4 {
  top: 16%;
  left: 18%;
  width: 65%;
  height: 70%;
  object-fit: contain;
}
.front__decor .decor__image-container .decor__item_5 {
  bottom: 10%;
  right: 12%;
  width: 10%;
  height: 11%;
}
.front__decor .decor__image-container .decor__item_6 {
  bottom: 33%;
  right: 15%;
  width: 20%;
  height: 17%;
}

@media (max-width: 1050px) {
  .front__decor .decor__image-container {
    right: -23%;
  }
}
@media (max-width: 870px) {
  .front__decor .decor__image-container {
    display: none;
  }
}
@media (max-width: 700px) {
  .front__decor .decor__bg_1 {
    width: 90%;
  }
  .front__decor .decor__bg_2 {
    width: 92%;
  }
}
@media (max-width: 480px) {
  .front__buttons {
    width: 80%;
  }
  .front__buttons a {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .front__text {
    width: 100%;
  }
  .front__title h1 {
    font-size: 30px;
  }
}
/* end front style */
/* advantages style */
.advantages {
  position: relative;
  z-index: 1;
  margin: -190px 0 0;
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
}
.advantages__cards .card {
  padding: 35px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.1);
}
.advantages__cards .card__icon {
  width: 72px;
  height: 72px;
}
.advantages__cards .card__icon svg {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.advantages__cards .card__title {
  color: #252B42;
  font-weight: 700;
  font-size: 22px;
}
.advantages__cards .card__line {
  background-color: #E74040;
  width: 50px;
  height: 2px;
}
.advantages__cards .card__text {
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 350px) {
  .advantages__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
/* end advantages style */
/* approdable style */
.approdable__image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.approdable__image-container svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.approdable__image-container img {
  position: absolute;
  object-fit: contain;
}
.approdable__image-container .image-1 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.approdable__image-container .image-2 {
  top: 100px;
  left: 40px;
  width: 116px;
  height: 58px;
}
.approdable__image-container .image-3 {
  top: 120px;
  right: 30px;
  width: 132px;
  height: 130px;
}
.approdable__image-container .image-4 {
  bottom: -5px;
  left: 62px;
  width: 156px;
  height: 106px;
}

.approdable__text-block {
  padding: 30px 0;
}

@media (max-width: 870px) {
  .approdable__image-container .image-2 {
    top: 100px;
    left: -30px;
  }
  .approdable__image-container .image-3 {
    top: 120px;
    right: -30px;
  }
  .approdable__image-container .image-4 {
    bottom: -5px;
    left: 37px;
  }
}
@media (min-width: 650px) {
  .approdable__right-block {
    max-width: 340px;
    justify-self: end;
  }
}
@media (max-width: 650px) {
  .approdable__left-block {
    display: none;
  }
  .approdable__container_double-block {
    grid-template-columns: 1fr;
  }
}
/* end approdable style */
/* video section style */
.video-section__right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .video-section__container_double-block {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/* end video section style */
/* courses style */
.courses .container_column-center,
.testimonials .container_column-center {
  gap: 100px;
}

.courses__text-block,
.testimonials__text-block {
  max-width: 470px;
  gap: 15px;
}

.courses__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
}
.courses__items .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.courses__items .item__image-container {
  position: relative;
  flex: 0 0 300px;
  width: 100%;
}
.courses__items .item__image {
  width: 100%;
  height: 100%;
}
.courses__items .item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courses__items .item__sale {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #E74040;
  color: #fff;
  padding: 5px 8px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}
.courses__items .item__actions {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.courses__items .item__actions button {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 1s ease 0s;
}
.courses__items .item__actions button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.courses__items .item__actions button:hover {
  background-color: #a4d87f;
}
.courses__items .item__actions button::before {
  content: "";
  background-color: #96e45f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0;
  height: 0;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
}
.courses__items .item__actions button.active::before {
  width: 100%;
  height: 100%;
}
.courses__items .item__text-container {
  padding: 20px;
  gap: 10px;
}
.courses__items .item__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.courses__items .item__subtitle .subtitle__star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #000;
  padding: 7px 8px;
  border-radius: 20px 20px;
}
.courses__items .item__subtitle .star__icon {
  position: relative;
  width: 15px;
  height: 15px;
}
.courses__items .item__subtitle .star__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.courses__items .item__subtitle .star__text {
  color: #fff;
  line-height: 1;
}
.courses__items .item__title h2 {
  font-size: 15px;
}
.courses__items .item__title h2 a {
  color: #000;
}
.courses__items .item__text {
  font-size: 13px;
}
.courses__items .item__sales-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.courses__items .item__sales-container .sales__icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.courses__items .item__sales-container .sales__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.courses__items .item__sales-container .sales__text {
  font-weight: 700;
  font-size: 12px;
  color: #737373;
}
.courses__items .item__prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.courses__items .item__prices .prices__text_old {
  color: #BDBDBD;
}
.courses__items .item__prices .prices__text_new {
  color: #FFAB71;
}
.courses__items .item__button-container .button {
  border-radius: 20px;
  border: 1px solid #96BB7C;
  padding: 10px 25px;
  transition: background-color 1s ease 0s;
}
.courses__items .item__button-container .button:hover {
  background-color: #a4d87f;
  border: 1px solid #a4d87f;
}
.courses__items .item__button-container .button:hover a {
  color: #fff !important;
}
.courses__items .item__button-container .button:hover a::before, .courses__items .item__button-container .button:hover a::after {
  background-color: #fff;
}
.courses__items .item__button-container .button:active {
  background-color: #82b360;
  border: 1px solid #82b360;
}

/* end courses style */
/* testimonials style */
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  gap: 70px;
}
.testimonials__items .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  max-width: 320px;
}
.testimonials__items .item__image-container {
  position: relative;
  flex: 0 0 120px;
  border-radius: 50%;
  width: 120px;
  margin: 0 0 20px 0;
}
.testimonials__items .item__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.testimonials__items .item__text {
  color: #737373;
  text-align: center;
  line-height: 1.5;
}
.testimonials__items .item__stars {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.testimonials__items .item__stars .star-container {
  position: relative;
  height: inherit;
  width: 20px;
}
.testimonials__items .item__stars svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.testimonials__items .item__name {
  font-size: 15px;
  font-weight: 700;
}
.testimonials__items .item__profession {
  font-weight: 500;
}

/* end testimonials style */
/* newsletter style */
.newsletter {
  background-color: #FFF2F3;
}
.newsletter .container_column-center {
  gap: 30px;
}

.newsletter__text-block .newsletter__subtitle {
  font-size: 28px;
  text-align: center;
}

.newsletter__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 690px;
  margin: 0 auto;
}
.newsletter__form input,
.newsletter__form button {
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 14px;
}
.newsletter__form input {
  flex: 1 1 auto;
  background-color: #F9F9F9;
  font-weight: 700;
  border: 1px solid #BDBDBD;
  border-right: none;
}
.newsletter__form input::placeholder {
  color: #737373;
}
.newsletter__form button {
  background-color: #96BB7C;
  color: #fff;
  border: 1px solid #96BB7C;
}
.newsletter__form button:hover {
  background-color: #a4d87f;
  border: 1px solid #a4d87f;
}
.newsletter__form button:active {
  background-color: #82b360;
  border: 1px solid #82b360;
}

@media (max-width: 470px) {
  .newsletter__form {
    flex-direction: column;
    gap: 10px;
  }
  .newsletter__form input,
  .newsletter__form button {
    width: 100%;
  }
}
/* end newsletter style */